*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: fixed;
    max-width: 400px;
    bottom: 10px;
    right: 10px;
}

#chat-win{
    border: 1px solid lightskyblue;
    margin-bottom: 10px;
    display: none;
    max-width: 90vw;
}

#heading{
    display: flex;
    justify-content: left;
    background-color: lightskyblue;
}

#logo{
    font-size: 1rem;
    font-weight: bolder;
    margin: 3px;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 70%;
    width: max-content;
    height: max-content;
}

#bot{
    margin: 3px;
    margin-bottom: 0;
    line-height: 2rem;
    /* font-weight: bold; */
}

#messages{
    margin: 0 auto;
    /* width: 400px; */
    height: 500px;
    max-height: 80vh;
    width: 100%;
    overflow-y: scroll;
}

form{
    max-width: 100%;
    /* width: 400px; */
    display: grid;
    padding: 0 3px;
    grid-gap: 3px;
    grid-template-columns: 1fr 50px;
    margin: 5px 0;
}

.user{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.umsg{
    margin: 5px 3px;
    padding: 5px;
    max-width: 75%;
    border-radius: 4%;
    background-color: lightblue;
}

.server{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.smsg{
    margin: 5px 3px;
    padding: 5px;
    max-width: 75%;
    border-radius: 4%;
    background-color: lightgreen;
}

.helptext{
    margin: 0;
    float: right;
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
}

#texthelp{
    box-sizing: content-box;
    background-color: lightskyblue;
    margin-top: 0.4rem;
    padding: 0.1rem 1.3rem 0.1rem 0.4rem;
    border-radius: 5px;
    max-height: 1.5rem;
    overflow: hidden;
    max-width: max-content;
    width: 0;
    opacity: 0;
    transition: all 1s ease-out;
}

#symbol{
    font-size: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 100%;
    background-color: lightskyblue;
    border-radius: 70%;
    transform: translateX(-0.5rem);
}

#symbol:hover ~ #texthelp, #texthelp:hover{
    width: 100%;
    opacity: 1;
}